@import "tailwindcss";
@plugin "daisyui";

/* Google Fonts - Plus Jakarta Sans - Inter", sans-serif  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

@theme {
    --font-Inter: "Inter", sans-serif;
    --font-Plus-Jakarta: "Plus Jakarta Sans", sans-serif;

    --color-brand-active-menu: #DB2777;
    --color-brand-text: #64748B;
    --color-brand-black: #0A0F1D;
    --color-brand-border: #F1F5F9;
    --color-brand-orange: #FF5722;
    --color-brand-pink: #D81B7E;
    --color-brand-purple: #7C3AED;
    --color-brand-btn: #D91B7E;
    --color-brand-btn-orange: #F97316;
    --color-brand-btn-pink: #EC4899;
    --color-brand-btn-text: #374151;
    --color-brand-btn-border: #E5E7EB;
    --color-brand-stack-border: #E2E8F0;
    --color-brand-heading: #0F172A;
    --color-brand-footer-text: #94A3B8;

    --color-brand-black-2: #475569;
    --color-gray: #F1F5F9;
    --color-star-gold: #FBBF24;
}